body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
}

.bloc {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

@media print {

  button {
    display: none;
  }

  body {
    background: white;
    color: black;
  }

  .bloc {
    page-break-inside: avoid;
    margin-bottom: 20px;
  }

  canvas {
    max-width: 100%;
  }

}
